html{
    font-size: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
}

h1{
    font-size: 60px;
    text-align: center;
}

p, li{
    font-size: 25px;
    line-height: 1;
    letter-spacing: 1px;
}

html{
    background-color: #2FDEB5;
  }

  body{
    width: 900px;
    margin: 30px auto;
    background-color: #FFFFFF;
    padding: 0 20px 20px 20px;
    /*border: 2px solid black; */
    box-shadow: 3px 3px 30px black
  }

  h1{
    margin: 0;
    padding: 20px 0;    
    color: #2FDEB5;
    text-shadow: 3px 3px 1px black;
  }

  h2{
    font-size: 45px;
    line-height: 1;
    letter-spacing: 1px; 
  }

  h3{
    font-size: 25px;
    line-height: 1;
    letter-spacing: 1px; 
  }

  img {
    display: block;
    margin: 0 auto;
    width: 600px;
  }